<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stylefactura.css">
    <title>factura</title>
</head>

<body>
    <section>
        <div>
            <% data.forEach((producto)=> { %>
            <img src="<%= producto.imagen %>" alt="">

            <div class="parrafo">

                <p> <%= producto.nombre %></p>
                <p>Valor:$ <%= producto.valor %> COP </p>
                <p>Total:$ <%= producto.total %> COP </p>
                <p>¿Desea realizar la compra?</p>

            </div>
        </div>

        <div></div>
        <form action="/comprr/<%= producto.cod_referencia %>" method="post">
            <button type="submit">aceptar</button>
        </form>
        <a href="/cata"><button>cancelar</button></a>
        <% }) %>
    </section>
</body>

</html>